* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.nav-logo {
    height: 30px;
}

.nav-menu {
    height: 16px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.nav-item {
    display: flex;
    align-items: center;
}
